<div *ngIf="isLoading == true">
  <div class="loader">
  </div>
</div>
<div *ngIf="isLoading == false">
  <u>Nom :</u> {{ planet.name }} <br>
  <u>Oxygen :</u> {{ planet.hasOxygen? 'Oui' : 'Non' }} <br>
  <u>image : </u> <img src="{{ planet.image }}">
</div>
