<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Starwars</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="'active'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/planets']" [routerLinkActive]="'active'">Planets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/vehiculs']" [routerLinkActive]="'active'">Vehicles</a>
      </li>
    </ul>
  </div>
</nav>
